@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#container {
  width: 20%;
  height: 100%;
  display: block;
  align-items: center;

}

#chat_container {
  flex: 1;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  gap: 2px;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: auto;
  padding-bottom: 5px;
  scrollbar-color:  gray transparent; /* chrome, firefox */
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  padding: 5px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}


.profile {
  width: 30px;
  height: 35px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 16px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px 10px; /* Adjust padding to match the user's message */
  margin: 0; /* Remove margin to align with user's message */
  display: flex;
  align-items: center;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}


form {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 1vh;
  border-radius: 20vmin;
  height: 12%;
  padding: 5px;
  background: #40414F;
  border: 1px solid #f0eeeee7; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
  display: flex;
  flex-direction: row;
  gap: 5px;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  background: transparent;
  border-radius: 5px;
  text-align: left;
  margin-left: 3vh;
  margin-top:  3vh;
  border: none;
  outline: none;
}

h3{
  font-size: 15px;
  color: #fff;
  text-align: center;
  align-items: center;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 400;  
  padding: 5px;
  position: relative;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  margin-right: 5px;
  padding-right: 5px;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

#logo {
  width: 20vw;
  height: 100vh; /* Adjusted height to fit within the screen */
  background: #504a74;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* Added overflow property */
}

#icon{
  padding-top: 5px;
  width: 90px;
  height: 90px;
  align-items: center;
}

#navieText{
  text-align: center;
  font-size: 25px; /* Increase font size */
  color: #cfe4df;
  margin-bottom: 120vh; /* Add margin to move it below the image */
  padding: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500px;
  
}

#new-chat-btn {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background: #383846;
  border-radius: 10px;
  width: 60%;
  height: 6%;
  text-align: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #f0eeeee7; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
  font-size: 18px;
  position: absolute;
  z-index: 1;
  margin-top: 25vh;
  transition: background-color 0.3s; /* Add transition for smooth color change */
  color: #cfe4df;
}

#new-chat-btn:hover {
  background: #2c2d36; /* Change background color on hover */
}

#Newchatlogo {
  margin-right: 10px; /* Adjust margin between the image and text */
  height: 25px;
  width: 25px;
}

#sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 243px); /* Adjusted to match the container's height */
  max-height: 57%; /* Adjusted to a maximum height of 62% */
  background: #2a2b37;
  border-radius: 1px;
  padding: 20px;
  color: #b6b4b4;
  margin-bottom: 10vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
}

#chat-history-list {
  list-style-type: none;
  padding: 0;
}

#chat-history-list li {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#chat-history-list li:hover {
  text-decoration: underline;
}

h2{
  text-align: left;
  text-indent: 5px;
  background: #1d1d25;
  color: #cfe4df;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: normal;
  border: 1px solid #6b6d70; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
  font-weight:lighter;
  padding: 8px;
  height: 5vh;
  width: 100%;
  position: relative;
}
#clear{
  align-items: left;
  justify-content: center;
  margin-left: 11px;
  margin-top: 3px;
  width: 25px;
}

#clear-chat-btn {
  display: flex;
  justify-content: left;
  border-radius: 1px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0; /* Adjust positioning based on your layout */
  right: 0; /* Adjust positioning based on your layout */
  margin-top: 23px; /* Adjust margin as needed */
  margin-right: 2vw;
  transition: background-color 0.3s;
  color: black;
  z-index: 1; /* Set z-index to display the button in front */
  float: left;
}

#clear-chat-btn:hover {
  background: #1d1d25; /* Change background color on hover */
}


#floating-prompt {
  position:absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #5848a1;
  padding: 10px;
  height: 40%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: opacity 0.5s ease;
  display: flex; /* Add flexbox display */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  color: white;
  
}

#floating-prompt span{
  font-size: 16px;
  text-align:left;
  position: relative;
}

#floating-prompt.hide {
  opacity: 0;
}

#floating-prompt-logo {
  height: 40%; /* Adjust height as needed */
  margin-right: 20px; /* Add margin between logo and text */
  margin-left: 10px;
}

#menu-btn{
  position: absolute;
  display: inline-block;
  margin-inline-start: 90%;
  display: none;
  margin-top: 10px;
}


/* CSS for the prompt questions */
.prompt-container {
  margin-bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 65%;
  height: 8%;
  margin-top: 460px;
  gap: 15px;
}

.left-prompt-container {
  float: left;
  clear: both;
  width: 20%; /* Adjust as needed */
  left: 350px;
  margin-top: 450px;
 
}

.right-prompt-container {
  float: right;
  clear: both;
  width: 20%; /* Adjust as needed */
  position: absolute;
  display: flex;
  right: 100px;
  margin-top: 450px;
  position: absolute;
  padding-top: 10px;
  
}

/* Style for the buttons */
.prompt-container button {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 350;
  font-size: 15px;
  border: 1px solid #ebe5e5e7; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prompt-container button:hover {
  background-color: #1b1c22; /* Adjust as needed */
}

.hidden {
  display: none;
}

#text{
  display: none;
  text-align: center;
  color: #dcdcdc;
  background-color: #2c2d36;
  width: 100%;
  font-weight: 700;
  position: relative;
  font-size: 20px;

}

#create-btn{
 display: none;
}

#new{
  width: 30px;
  height: 30px;
}

#exit-btn {
  position: absolute;
  top: 0; /* Position at the top of the sidebar */
  left: 230px; /* Position at the right of the sidebar */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 30px; /* Button width */
  height: 30px; /* Button height */
  cursor: pointer;
  z-index: 1; /* Ensure button stays above other content */
  display: none;
}

#exit-btn:hover {
  background-color: #2c2d36; /* Change background color on hover */
}

#exit-btn img {
  width: 70%; /* Adjust icon size */
  height: 70%; /* Adjust icon size */
}

#bisuImage {
  width: 75px;
  height: 75px;
  position: absolute;
  padding-top: 5px;
  
  bottom: -1vh; /* Adjust top position */
  left: 5px; /* Adjust left position */
  display: flex;
}

#bisuText {
  font-size: 18px;
  position: absolute;
  width: 15vw;
  text-align: center;
  color: #cfe4df;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  bottom: -1vh; /* Adjust top position */
  font-family: Arial, Helvetica, sans-serif;
  left: 5vw; /* Adjust left position based on the width of bisuImage */
  display: flex;
}

#navie{
  display: none;
}



.slide-in {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  #app {
    width: 100%;
    height: 90%;
    overflow: hidden; /* Added overflow property */
    margin: 0 auto; /* Center horizontally */
    background: #343541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
  }

  form {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: -2vh;
    border-radius: 20vmin;
    height: 8%;
    padding: 5px;
    background: #40414F;
    border: 1px solid #f0eeeee7; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  

  #chat_container {
    flex: 1;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    gap: 2px;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: auto;
    padding-bottom: 5px;
    scrollbar-color:  gray transparent; /* chrome, firefox */
    scroll-behavior: smooth;
  }
  
  #floating-prompt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5848a1;
    height: 25%;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
    display: flex;
    align-items:center;
    justify-content:left;
    color: white;
  }
  
  #floating-prompt span {
    font-size: 15px;
    text-align: left;
    position: relative;
  }
  
  #floating-prompt.hide {
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden */
  }
  
  #floating-prompt-logo{
    height: 30%;
  }

/* CSS for the prompt questions */
.prompt-container {
  margin-bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 8%;
  margin-top: 45vh;
  gap: 15px;
}



/* Style for the buttons */
.prompt-container button {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 350;
  font-size: 15px;
  border: 1px solid #ebe5e5e7; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prompt-container button:hover {
  background-color: #1b1c22; /* Adjust as needed */
}

  .hidden {
    display: none;
  }

  h3{
    font-size: 12px;
    color: #fff;
    text-align: center;
    align-items: center;
    width: 100vw;
    font-family: "Alegreya Sans", sans-serif;
    font-style: normal;
    font-weight: 400;  
    margin-top: 2vh;
    padding: 5px;
    padding-top: 3px;
    bottom: -1vh;
    position: relative;
  }

  textarea {
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
    background: transparent;
    border-radius: 5px;
    text-align: left;
    margin-left: 3vh;
    margin-top:  1vh;
    border: none;
    outline: none;
  }

  .message {
    flex: 1;
    color: #dcdcdc;
    font-size: 15px;
    max-width: 100%;
    overflow-x: scroll;
    white-space: pre-wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5px 10px; /* Adjust padding to match the user's message */
    margin: 0; /* Remove margin to align with user's message */
    display: flex;
    align-items: center;
  }
  
  
  /* hides scrollbar */
  .message::-webkit-scrollbar {
    display: none;
  }

  #menu-btn{
    display: block; /* Display menu button below logo on small screens */
    z-index: 999; /* Ensure the menu button remains above other elements */
    position: absolute;
    display: inline-block;
    margin-inline-start: 10%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin-top: 14px;

  }

  #menu-btn.show{
    display: block; /* Display menu button below logo on small screens */
  }

  @keyframes slideLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  #container {
    width: 100%;
    height: 100%;
    display: none;
    animation: slideLeft 0.8s ease-in-out; /* Apply slideLeft animation */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  

  #icon{
    padding-top: 5px;
    margin-top: 2vh;
    width: 90px;
    height: 90px;
    padding-bottom: 5px;
    align-items: center;
  }
  
  #navieText{
    text-align: center;
    font-size: 25px; /* Increase font size */
    color: #cfe4df;
    margin-bottom: 120vh; /* Add margin to move it below the image */
    padding: 10px;
    margin-top: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    
  }
  
  #logo {
    width: 80%; /* Set the width to 100% to take the full width */
    height: 100%;
    background: #504a74;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #new-chat-btn {
    display: flex; /* Use flexbox to align items */
    align-items: justify; /* Center items vertically */
    justify-content: justify; /* Center items horizontally */
    background: #40414F;
    border-radius: 10px;
    width: 65%; /* Adjust width to fit smaller screens */
    height: 6%;
    text-align: left;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    position: fixed; /* Change position to fixed */
    top: 2px;
    left: 40%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transition: background-color 0.3s; /* Add transition for smooth color change */
    color: #cfe4df;
    z-index: 1; /* Ensure button stays above other content */
  }
  
  #new-chat-btn:hover {
    background: #2c2d36; /* Change background color on hover */
  }

  #Newchatlogo {
    margin-right: 20px; /* Adjust margin between the image and text */
    height: 30px;
    width: 30px;
    align-items: left;
    
  }

  #sidebar {
    width: 100%;
    position:absolute;
    height: 63vh; /* Adjust height based on your layout */
    background: #2a2b37;
    border-radius: 2px;
    margin-top: 240px; /* Adjust margin as needed */
    bottom: -1vh;
    color: #b6b4b4;
    overflow-y:auto;
    display:flexbox
  }
  
  #chat-history-list {
    list-style-type: none;
    padding: 0;
  }
  
  #chat-history-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #chat-history-list li:hover {
    text-decoration: underline;
  }
  
  h2{
    text-align: left;
    text-indent: 5px;
    background: #1d1d25;
    color: #cfe4df;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: normal;
    border: 1px solid #6b6d70; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Modified box-shadow */
    font-weight:lighter;
    padding: 8px;
    height: 5vh;
    width: 100%;
    position: relative;
  }

  #clear{
    align-items: left;
    justify-content: center;
    margin-left: 11px;
    margin-top: 3px;
    width: 25px;
  }

  #clear-chat-btn {
    display: flex;
    justify-content: left;
    border-radius: 1px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0; /* Adjust positioning based on your layout */
    right: 0; /* Adjust positioning based on your layout */
    margin-top: 23px; /* Adjust margin as needed */
    margin-right: 7vw;
    transition: background-color 0.3s;
    color: black;
    z-index: 1; /* Set z-index to display the button in front */
    float: left;
  }

  #clear-chat-btn:hover {
    background: #343541; /* Change background color on hover */
  }

  #text{
    display: block;
    font-size: 20px;
    color: #dcdcdc;
    height: 10%;
    padding: 12px;
    box-shadow: #2c2d36;
  }

  #create-btn {
    display: flex; /* Display the create button */
    align-items: center;
    justify-content: center; 
    width: auto; /* Allow the width to adjust based on content */
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 2vw; /* Position the button to the right */
    transition: background-color 0.3s;
    color: black;
    z-index: 1;
    float: right;
  }

  #create-btn:hover {
    background-color: rgb(156, 151, 151); /* Change background color on hover */
  }
   
  #new{
    width: 26px;
    height: 26px;
  }

  #exit-btn {
    position: absolute;
    top: 0; /* Position at the top of the sidebar */
    left: 85%; /* Position at the right of the sidebar */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 35px; /* Button width */
    height: 35px; /* Button height */
    cursor: pointer;
    top: 10px;
    z-index: 1000; /* Ensure button stays above other content */
    display: block;
  }
  
  #exit-btn:hover {
    background-color: #f2f2f5; /* Change background color on hover */
  }
  
  #exit-btn img {
    width: 80%; /* Adjust icon size */
    height: 80%; /* Adjust icon size */
  }

  .hide {
    display: none;
  }



  #bisuImage {
    width: 80px;
    height: 80px;
    position: absolute;
    padding-top: 2px;
    bottom: -1vh; /* Adjust top position */
    padding-bottom: 5px;
    left: 5px; /* Adjust left position */
    display: flex;
  }
  
  #bisuText {
    font-size: 20px;
    position: absolute;
    width: 70%;
    text-align: center;
    color: #cfe4df;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    bottom: -1vh; /* Adjust top position */
    font-family: Arial, Helvetica, sans-serif;
    left: 20vw; /* Adjust left position based on the width of bisuImage */
    display: flex;
  }
  

  h1{
    font-display: black;
  }
  


}




